<h2> Új tétel felvitele</h2>

<form class="itemForm" [formGroup]="itemForm">
    <mat-form-field class="itemFormField">
        <input matInput placeholder="Név" formControlName="name">
        <mat-error *ngIf="name.invalid && name.touched">
            Nem megfelelő a név formátuma
        </mat-error>
        <mat-hint align="end">A név csak betűket tartalmazhat</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="itemFormField">
        <input matInput type="number" placeholder="Összeg" formControlName="amount">
        <mat-hint align="end">Bevétel > 0, Kiadás &lt; 0, 0 nem engedélyezett érték</mat-hint>
        <mat-error *ngIf="amount.invalid && amount.touched">
            Az összeg formátuma nem megfelelő
        </mat-error>
    </mat-form-field>

    <mat-form-field class="itemFormField">
        <input matInput [matDatepicker]="dateDeadlinePicker"   placeholder="Válassz határidőt" [min]="minDate" [max]="maxDate"
            formControlName="dateOfDeadline">
        <mat-datepicker-toggle matSuffix [for]="dateDeadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDeadlinePicker></mat-datepicker>
    </mat-form-field>

    <br>
    <mat-form-field class="itemFormField">
        <input matInput [matDatepicker]="dateCompletionPicker"  placeholder="Válassz teljesítési időt" [min]="minDate" [max]="maxDate"
            formControlName="dateOfCompletion">
        <mat-datepicker-toggle matSuffix [for]="dateCompletionPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateCompletionPicker></mat-datepicker>
    </mat-form-field>

    <br>
    <mat-form-field class="itemFormField">
        <input matInput placeholder="Leírás" formControlName="description">
        <mat-error *ngIf="description.invalid && description.touched">
            Leírás megadása kötelező
        </mat-error>
    </mat-form-field>
    <br>
    <mat-checkbox class="formCheckbox" formControlName="agree">Biztos vagy benne?</mat-checkbox>
    <br>
    <button mat-raised-button [disabled]="itemForm.invalid" color="primary" (click)="insertNewItem()">Küldés</button>

</form>