<div class="finance-table" *ngIf="financeTableDataSource != null">
  <table mat-table [dataSource]="financeTableDataSource" matSort aria-label="Elements">
   
    <!-- Partner Name Column -->
    <ng-container matColumnDef="partnerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner neve</th>
      <td mat-cell *matCellDef="let row">{{row.partner.name}}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Összeg</th>
      <td mat-cell *matCellDef="let row" [ngClass]="{'negative' : !isPositive(row.amount), 'positive' : isPositive(row.amount) }" >{{row.amount}} Ft</td>
    </ng-container>

    <!-- Date of Deadline Column -->
    <ng-container matColumnDef="dateOfDeadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Határidő</th>
      <td mat-cell *matCellDef="let row">{{row.dateOfDeadline | date }} </td>
    </ng-container>

    <!-- Date of Completion Column -->
    <ng-container matColumnDef="dateOfCompletion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teljesítés ideje</th>
      <td mat-cell *matCellDef="let row">{{row.dateOfCompletion | date }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leírás</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="financeTableDataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 25, 50, 100, 250]">
  </mat-paginator>
</div>