h2 {
    text-align: center;
    color:white;
}

button {
    color:white;
    margin-left:20px;
    margin-top:20px;
}

.formCheckbox {
    color:white;
    margin-left: 20px;

}

.partnerForm {
    width: 25%;
    margin:auto;
    color: white;    
}
  
.partnerFormField {
    width: 100%;    
    padding:10px;
}