<nav>
  <ul>
    <li>
      <!-- routerLink: user átirányítása adott oldalra -->
      <a routerLink="profile-page">        
        <i class ="material-icons">account_box</i>
      </a>
    </li>
    <li>
        <a routerLink="partner-page">        
          <i class ="material-icons">group</i>
        </a>
    </li>   
    <li>
        <a routerLink="income-page">        
          <i class ="material-icons">attach_money</i>
        </a>
      </li>
      <li>
          <a routerLink="expense-page">        
            <i class ="material-icons">money_off</i>
          </a>
      </li> 
      <li>
          <a routerLink="login-page">        
            <i class ="material-icons">exit_to_app</i>
          </a>
        </li>  
  </ul>
</nav>
